<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="phonebook.example.com.addcontact">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
</manifest>
    <!-- Need below permissions.-->

